.channel-page-container {
    width: 80%
}

.channel-name-header-container {
    border-bottom: solid 1.5px #202225;
    padding-bottom: 10px;
    padding-top:10px;
    padding-left: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.channel-name-header-hashtag {
    color: #8F9296;
    font-size: 20px;
    font-weight: 5000;
}

.channel-welcome-area-header {
    font-weight: 5000;
    font-size: 32px;
    padding-left: 15px;
}

.channel-welcome-area-notification {
  color: #B9BBBE;
  padding-left: 20px;
}

.channel-permissions-container {
    padding-top: 25px;
    /* padding-left: 20px; */
}

.channel-permission-buttons {
    color: #4EACEE;
    margin-left: 20px;
    border: none;
    background: none;
    font-size: 16px;
    padding: 8px;
}

.channel-permission-buttons:hover {
    background-color: #414449;
    border-radius: 4px;
}

/* .channel-messages-container {

} */

.channel-message {
    display: flex;
    border-bottom: solid 0.2px #43464C;
    border-top: solid 0.2px #43464C;
    background-color: #5a5a5a;
    font-size: 14px;
    height: 60px;
    padding-bottom: 25px;
}

.channel-message:hover {
    background-color: #414449;
    border-radius: 4px;
}

.channel-message-user-image-container {
    padding: 20px;
}
.channel-message-user-image {
    height: 50px;
    width: 50px;
    border-radius:50px;
}

.message-content-container {
    font-family: Montserrat;
}

.add-media-button {
    color: #96989D;
    border: none;
    background: none;
    font-size: 22px;
    font-weight: bold;
    margin: 5px;
    margin-left: 10px;
}

.create-message-input {
    background-color: #40444b;
    border: 1px solid #40444b ;
    border-radius: 5px;
    height:20px;
    margin: 7px;
    font-family: Montserrat;
    color: whitesmoke;
}

.create-message-button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    height: 24px;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.create-message-button:hover {
    background-color: #414449;
    border-radius: 4px;
}
