/* TODO Add site wide styles */

/* .app-container {
    display: flex;
    /* padding: 1px; */

.app {
    height:100%;
    display: flex;
    background-color: #37393E;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.app-content {
    display: flex;
    min-height: 100%;
    bottom:0%;
}

body {
    margin: 0px;
}
