@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700%7CWork+Sans:300,400,700,900%27);

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #1a1a1d;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    width: 500px;
}

.login-container {
    display: flex;
    justify-content: center;
}

.login-hyperlink {
    color: white
}

.login-button {
    margin-top: 20px;
    padding: 10px;
    width: 220px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    background: none;
    border: 1px solid white;
    color: white;
    transition: 1s;
}

.login-button:hover {
    background-color: #c40854 ;
    transition: 1s;
    border-radius: 12px;
    font-size: 19px;
    cursor: pointer;
}


.login-header {
    font-size: 24px;
}

.password-input {
    width: 70%;
    display: flex;
    margin-left: 70px;
    height: 24px;
    font-size: 18px;
}


.email-input {
    width: 70%;
    display: flex;
  margin-left: 70px;
    margin-bottom: 10px;
    height: 24px;
    font-size: 18px;
}

.register-link {
    margin-top: 25px;
    font-size: 12px;
    color: white;
    transition: 1s;
    padding-bottom: 10px;
}

.register-link:hover {
    color: #c40854;
    transition: 1s;
}
