.dm-page-nav {
    top: 0; right: 0; bottom: 0; left: 0;
    width: 200px;
    background-color: #940740;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1.5px solid white;
}

.direct-message-nav-container {
    background-color: #940740;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
}

.dm-user-name {
    color: white;
    width: 100%;
    margin-left: 10px;
}


.dm-user-image {
    padding: 5px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border-radius:50px;
}

.direct-message-nav-button {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.direct-message-nav-button:hover {
    background-color: #c40854;
    transition: 0.8s;
}

.dms-header {
    padding-top: 6px;
    font-weight: bold;
    padding-bottom: 20px;
}

.message-a-user-button {
    color: #dff6ff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin: 26px 0px 26px 26px;
    padding: 6px 12px 6px 12px;
    background: none;
    border: 1px solid white;
    transition: 0.5s;
}

.message-a-user-button:hover {
    background-color: white;
    color: #c40854;
    transition: 0.5s;
    cursor: pointer;
}

.dm-navlink:active {
    text-decoration: none;
}

a {
    text-decoration: none;
}
