.dm-page-nav {
    /* Fix height to fit to screen (scrollable */
    top: 0; right: 0; bottom: 0; left: 0;
    width: 200px;
    background-color: #2F3136;
    color: white;
}

.nav-server-logo-container-dms {
    background-color: #2F3136;
    text-transform: uppercase;
    font-size: 10px;
    font-family: Montserrat;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dm-user-name {
    color: white;
    width: 100%;
    padding-left: 90px;
    padding-top: 10px;
}

.dm-user-image {
    padding: 5px;
    padding-left: 10px;
    height: 50px;
    width: 50px;
    border-radius:50px;
    float: left;
}

.nav-server-logo-container-dms:hover {
    background-color: #222327;
}

.dms-header-container {
    padding-top: 10px;
    color: #96989D;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

.dms-header {
    padding-top: 6px;
    font-weight: bold;
    padding-bottom: 20px;
}

.message-a-user-dm-button {
    color: #4EACEE;
    border: none;
    background: none;
    font-size: 16px;
    padding: 8px;
    padding-left: 40px;
}
