.server-page-nav {
    /* Fix height to fit to screen (scrollable */
    width: 200px;
    background-color: #940740;
    color: white;
    text-align: center;
    top: 0; right: 0; bottom: 0; left: 0;
    border-right: 1.5px solid white;
}

.server-name-container {
    border-bottom: solid 1.5px white;
    padding-bottom: 10px;
    padding-top:10px;
    font-weight: bold;
    font-size: 20px;
}

.text-channels-header-container {
    padding-top: 10px;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

.text-channels-header {
    padding-top: 6px;
    font-weight: bold;
    padding-bottom: 20px;
}

.server-channel-name-header-container {
    text-align: left;
    padding-left: 5px;
    transition: 0.5s;
}

.server-channel-name-header-container:hover {
    text-align: left;
    padding-left: 5px;
    background-color: #c40854;
    transition: 0.8s;
}

.server-channel-name-header {
    color: white;
    border: none;
    background: none;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.create-channel-button {
    color: white;
    border: none;
    background: none;
    font-size: 22px;
    font-weight: bold;
    transition: 2s;
}

.create-channel-button:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: 1s;
    font-size: 25px;
}


.server-admin-button {
    color: white;
    border: none;
    background: none;
    font-size: 16px;
    border: 1px solid white;
    padding: 6px;
    width: 160px;
    transition: 0.5s;
    font-weight: bold;
}

.server-admin-button:hover {
    background-color: white;
    cursor: pointer;
    color: #c40854;
    transition: 0.8s;
}

.delete-button {
    margin-left: 20px;
}


.server-buttons-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
