.server-users-nav {
    top: 0; right: 0; bottom: 60px;
    position: absolute;
    width: 200px;
    border-left: 1.5px solid white;
    color: white;
    text-align: center;
    right: 0px;
}

.server-users-nav-content {
    margin-top: 12px;
}

.server-nav-header {
    font-size: 20px;
    padding: 0px 50px 8px 50px;
    font-weight: bold;
    border-bottom: 1.5px solid white;
}

.server-nav-users-container {
    margin-top: 30px;
}
