.server-page-nav {
    /* Fix height to fit to screen (scrollable */
    height: 1000px;
    width: 200px;
    background-color: #202225;
    color: white;
    border-left: solid 2px #373A3F;
    text-align: center;
}

.server-name-container {
    border-bottom: solid 2px #373A3F;

}
