.discord-logo-container {
    padding-bottom: 8px;
    border-bottom: 1px solid #373A3F;
}

.discord-logo {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    border-bottom: solid 1px grey;
}

.nav-server-logo-container {
    padding-top: 8px;
}

.nav-server-logo {
    height: 50px;
    width: 50px;
    border-radius:50px;
}
